.titulo {
    font-size: 2.1rem;
    text-align: left;
    padding-left: 5%;
  }
  
  .banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .banner-img {
    width: 90%;
    height: auto;
  }
  
  .divisor {
    width: 90%;
    margin: 1% auto;
  }

  footer {
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: inherit;
  }