/* Estilo para el banner */
.banner-img {
    display: block;
    width: 100%;
    height: auto; /* Mantiene la proporción original */
    object-fit: cover;
  }
  
  /* Línea divisoria */
  .divisor {
    height: 6px;
    background-color: #007bff; /* azul intenso */
    margin: 1rem 0;
  }
  
  /* Contenedor de tabla */
  .table-container {
    margin: 0 auto;
    max-width: 90%;
  }