.banner-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.divisor {
  height: 6px;
  background-color: #007bff;
  margin: 1rem 0;
}

.table-container {
  margin: 0 auto;
  max-width: 90%;
  padding-right: 32%;
}

.totales {
  font-weight: 400;
}

ul.list-unstyled li {  
  margin-bottom: 4px;
}

footer {
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: inherit;
}