.table-container {
  margin: 0 auto;
  max-width: 90%;
  padding-right: 32%;
  position: relative;
}

/* Color 1ra Fila */
.table-dark {
  --bs-table-bg: #333a40
}

/* Ancho Última Columna */
.sizecolumn{
  width: 130px;
}

/* Espaciado Listado */
.list-unstyled li {  
  margin-bottom: -5px;
}